{% extends "template.html" %}
{% block content %}


<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Tyler Ganter</h1>
  <p>DSP and Machine Learning Engineer | Not a UX Designer</p>
</div>

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h2>About Me</h2>
            <div class="fakeimg">
                <img src="{{ url_for('static', filename='images/hampi.jpg') }}"
                     style="width:200px;height:300px;"
                     alt="Profile Picture">
            </div>

        </div>
        <div class="col-sm-8">
            <p>here I am!</p>
            <p>Resume</p>
        </div>

    </div>
</div>

<!--Services-->

<div class="container" style="margin-top:30px">
    <a href="https://gnarwall.org">Travel Blog</a>
</div>

{% endblock %}